<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css">#portal_block_137 {  border:3px solid !important;}</style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"><div id="frameDj77r4" class="frame move-span cl frame-1"><div class="title frame-title"><span class="titletext">1¿ò¼Ü</span></div><div id="frameDj77r4_left" class="column frame-1-c"><div id="frameDj77r4_left_temp" class="move-span temp"></div><!--{block/137}--></div></div></div><!--[/diy]-->
</div>

<!--{subtemplate common/footer}-->
